In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from rankfm.rankfm import RankFM

In [3]:
well_data = pd.read_csv("wellspublic.csv")

In [4]:
transfer_data = pd.read_csv("WellTransferData.csv")

In [5]:
well_data

,API_WellNo,Cnty,Hole,SideTrck,Completion,Well_Name,Company_name,Operator_number,Well_Type,Map_Symbol,...,Depth_Fee,Spacing,Spacing_Acres,Integration,Dt_Hearing,Dt_Mod,LINK,Location_Verified,GeneralWellType,GeneralWellStatus
0,31001010720000,1,1072,0,0,Finch 1,Corona Typewriter,9372,NL,O,...,0.0,NaN,NaN,NaN,NaN,2019-12-13 12:13:04.407000000,http://www.dec.ny.gov/cfmx/extapps/GasOil/sear...,NO,Other Well,Unplugged Well
1,31001010730000,1,1073,0,0,Hilton James 1,Belmont Quadrangle Drilling,9034,NL,O,...,0.0,Exempt from Title 5; variance needed from 6 NY...,NaN,NaN,NaN,2017-08-01 15:24:16,http://www.dec.ny.gov/cfmx/extapps/GasOil/sear...,NO,Other Well,Unplugged Well
2,31001210070000,1,21007,0,0,1,Turf Western Ave. Inc.,1903,TH,OP,...,375.0,Exempt - not an oil or gas well,NaN,NaN,NaN,2017-07-25 14:20:53,http://www.dec.ny.gov/cfmx/extapps/GasOil/sear...,NO,Geothermal Well,Plugged Well
3,31001210080000,1,21008,0,0,2,Turf Western Ave. Inc.,1903,TH,OP,...,375.0,Exempt - not an oil or gas well,NaN,NaN,NaN,2017-07-26 09:23:40,http://www.dec.ny.gov/cfmx/extapps/GasOil/sear...,NO,Geothermal Well,Plugged Well
4,31001210090000,1,21009,0,0,3,Turf Western Ave. Inc.,1903,TH,OP,...,375.0,Exempt - not an oil or gas well,NaN,NaN,NaN,2019-11-06 15:40:48.017000000,http://www.dec.ny.gov/cfmx/extapps/GasOil/sear...,NO,Geothermal Well,Plugged Well
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46044,31123261350000,123,26135,0,0,Dubowyk 1 (626785),Chesapeake Appalachia L.L.C.,2302,NL,O,...,3610.0,Conforms to statewide spacing under Title 5,296.83,Integration order issued,2008-08-20 00:00:00,2013-06-03 09:44:35.940000000,http://www.dec.ny.gov/cfmx/extapps/GasOil/sear...,NO,Not Drilled,Not Drilled
46045,31123261460000,123,26146,0,0,Lyman Thomas 1,Chesapeake Appalachia L.L.C.,2302,NL,O,...,1900.0,NaN,NaN,NaN,NaN,2016-01-15 11:55:13.030000000,http://www.dec.ny.gov/cfmx/extapps/GasOil/sear...,NO,Not Drilled,Not Drilled
46046,31123261630000,123,26163,0,0,Cook 1 (626940),Cook Lee J.,2888,GE,GW,...,1710.0,Conforms to statewide spacing under Title 5,80.00,No integration order required,NaN,2019-12-13 10:49:57.590000000,http://www.dec.ny.gov/cfmx/extapps/GasOil/sear...,NO,Gas Well,Unplugged Well
46047,31123550110000,123,55011,0,0,Castner 1-S,Cabot Oil & Gas Corp.,209,DH,DP,...,1000.0,NaN,NaN,NaN,NaN,2015-01-23 08:53:20.683000000,http://www.dec.ny.gov/cfmx/extapps/GasOil/sear...,NO,Other Well,Plugged Well
46048,31123615210000,123,61521,0,0,Castner 1,Cabot Oil & Gas Corp.,209,DH,DP,...,1000.0,NaN,NaN,NaN,NaN,2019-07-18 10:47:19,http://www.dec.ny.gov/cfmx/extapps/GasOil/sear...,NO,Other Well,Plugged Well

In [16]:
input_data = well_data[[ "Operator_number","API_WellNo",]]

In [17]:
input_data

       Operator_number      API_WellNo
0                 9372  31001010720000
1                 9034  31001010730000
2                 1903  31001210070000
3                 1903  31001210080000
4                 1903  31001210090000
...                ...             ...
46044             2302  31123261350000
46045             2302  31123261460000
46046             2888  31123261630000
46047              209  31123550110000
46048              209  31123615210000

[46049 rows x 2 columns]

In [18]:
from rankfm.rankfm import RankFM
model = RankFM(factors=20, loss='warp', max_samples=20, alpha=0.01, sigma=0.1, learning_rate=0.1, learning_schedule='invscaling')
model.fit(input_data, epochs=20, verbose=True)

training epoch: 0
log likelihood: -32642.76953125

training epoch: 1
log likelihood: -32269.05078125

training epoch: 2
log likelihood: -31789.880859375

training epoch: 3
log likelihood: -30797.7109375

training epoch: 4
log likelihood: -29036.580078125

training epoch: 5
log likelihood: -26583.689453125

training epoch: 6
log likelihood: -24382.220703125

training epoch: 7
log likelihood: -22694.75

training epoch: 8
log likelihood: -21322.2890625

training epoch: 9
log likelihood: -20180.380859375

training epoch: 10
log likelihood: -19112.109375

training epoch: 11
log likelihood: -18087.359375

training epoch: 12
log likelihood: -17191.98046875

training epoch: 13
log likelihood: -16360.009765625

training epoch: 14
log likelihood: -15608.5703125

training epoch: 15
log likelihood: -14928.5400390625

training epoch: 16
log likelihood: -14353.2099609375

training epoch: 17
log likelihood: -13805.830078125

training epoch: 18
log likelihood: -13331.3095703125

training epoch: 19
log likelihood: -12901.3896484375

In [19]:
valid_scores = model.predict(input_data, cold_start='nan')

In [20]:
valid_scores

array([0.24872255, 1.630131  , 0.5516698 , ..., 0.26613587, 1.2232101 ,
       1.5941138 ], dtype=float32)

In [26]:
valid_recs = model.recommend(input_data["Operator_number"][:5], n_items=10, filter_previous=True, cold_start='drop')

In [27]:
valid_recs

,0,1,2,3,4,5,6,7,8,9
Operator_number,,,,,,,,,,
9372,31009631320000,31009645100000,31009605220000,31003694280000,31009057510000,31003693630000,31003693610000,31009055820000,31009641290000,31009645030000
9034,31029147260000,31029147070000,31009677690000,31003518530000,31029146950000,31009660880000,31029146890000,31101615470000,31009522950000,31029146700000
1903,31003004650000,31003508090000,31009114800000,31003110130000,31003508980000,31061237410000,31003511120000,31003659520000,31029201330000,31003503880000
1903,31003004650000,31003508090000,31009114800000,31003110130000,31003508980000,31061237410000,31003511120000,31003659520000,31029201330000,31003503880000
1903,31003004650000,31003508090000,31009114800000,31003110130000,31003508980000,31061237410000,31003511120000,31003659520000,31029201330000,31003503880000

In [28]:
from rankfm.evaluation import hit_rate, precision, recall

model_hrt = hit_rate(model, input_data, k=10)
model_pre = precision(model, input_data, k=10)
model_rec = recall(model, input_data, k=10)

In [29]:
model_hrt, model_pre, model_rec

(0.44360902255639095, 0.15864661654135337, 0.22200679605519397)

In [30]:
model.similar_items(31009631320000, n_items=10)

array([31009641410000, 31009604000000, 31009643820000, 31009516740000,
       31009052520000, 31009642480000, 31009083200000, 31009056770000,
       31009644040000, 31009535610000])